@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #0a0a0a;
  color: #e5e5e5;
  line-height: 1.6;
}

header {
  text-align: center;
  padding: 60px 20px;
  background: linear-gradient(135deg, #1e1b4b, #312e81);
}

.logo {
  width: 270px;
  height: auto;
  margin-bottom: 15px;
  border-radius: 15px;
  background: transparent;
}

h1 {
  font-size: 2.5rem;
  color: #fff;
}

h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 40px;
  color: #a78bfa;
}

section {
  padding: 60px 20px;
  max-width: 1100px;
  margin: auto;
}

.tentang-box {
  display: flex;
  gap: 30px;
  align-items: center;
  background: #111;
  padding: 30px;
  border-radius: 15px;
}

.foto-profil {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #6366f1;
}

.layanan, .galeri {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  background: #111;
  padding: 25px;
  border-radius: 15px;
  border: 1px solid #222;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  border-color: #6366f1;
}

.galeri img {
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.galeri img:hover {
  transform: scale(1.05);
}

.btn {
  display: inline-block;
  background: #25D366;
  color: white;
  padding: 15px 30px;
  border-radius: 50px;
  text-decoration: none;
  font-weight: 600;
}

footer {
  text-align: center;
  padding: 30px;
  background: #000;
}

#popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.9);
  justify-content: center;
  align-items: center;
}

#popup img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
}

@media (max-width: 768px) {

    header {
        padding: 40px;
    }

    h1 {
        font-size: 1.8rem;
    }

    h2 {
        font-size: 1.5rem;
    }
    .tentang-box {
        flex-direction: column;
        text-align: center;
    }
    .foto-profil {
        width: 120px;
        height: 120px;
    }
    section {
        padding: 40px 15px;
    }
}